<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Employee information update..</h1>
<form method="post">
    {% csrf_token %}
    Emp Number :<input type="text" name="eno" value="{{employee.eno}}"><br>
    Emp Name :<input type="text" name="ename" value="{{employee.ename}}"><br>
    Emp Salary :<input type="text" name="esal" value="{{employee.esal}}"><br>
    Emp Address :<input type="text" name="eaddr" value="{{employee.eaddr}}"><br>

    <input type="submit" name="" value="Update">
</form>
</body>
</html>